/* Ocultar barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
.scroll-container {
    height: 90%;
    overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* opcional, para un fondo más claro */
}

/* Ocultar barra de desplazamiento en navegadores Firefox */
.scroll-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Safari and Chrome */
.scroll-container::-webkit-scrollbar {
    display: none;
    height: 600px;
}


  
  .rocket-launch {
    animation: launch 2.5s infinite;
  }
  
  @keyframes launch {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, -10px); /* Ajusta los valores para controlar la distancia y dirección del movimiento */
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  .visto {
    background-color: lightgreen; /* Cambia el color según lo que necesites */
    color: black; /* Texto */
  }
  
  .no-visto {
    background-color: lightcoral;
    color: white;
  }
  
  